<table class="table">
  <thead>
    <tr>
      <th scope="col">名前</th>
      <th scope="col"><%= full_name(@user) %></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">メールアドレス</th>
      <td><%= @user.email %></td>
    </tr>
    <% if current_user.admin? %>
      <tr>
        <th scope="row">住所</th>
        <td><%= @user.address %></td>
      </tr>
    <% end %>
    <tr>
      <th scope="row">入社日</th>
      <td><%= l @user.created_at, format: :short %></td>
    </tr>
  </tbody>
</table>
