@import "bootstrap";

html {
  font-size: 16px;
  font-family: 'MS 明朝';
}

body {
  margin: 10px;
  background-color: rgb(186, 236, 255);
}
.header-font {
  color: rgb(0, 0, 0);
   &:hover {
    color: rgb(148, 148, 148);
  }
}
.home-content {
  color: rgb(227, 3, 50);
}

.nav-right {
  margin-left: 5px;
}

.right-content {
  margin-left: 5px;
}

.index-title {
  margin-top: 10px;
}

.main-table {
  margin-top: 10px;
}

.main-content {
  margin-top: 12px;
  font-size: 2.5rem;
}

.new-form {
  margin-top: 10px;
  margin-right: 5px;
  cursor: pointer;
}

.new-content {
  color: rgb(255, 255, 255);
}

.new-font {
  font-size: 1.3rem;
}

.department {
  margin-top: 10px;
}

.check-label {
  margin-top: 10px;
}

.work_books {
  margin-top: 10px;
}

.name-work {
  margin-top: 15px;
}

#search-work {
  display: none;
}

.content-left {
  margin-left: 5px;
}
