@import "bootstrap";

body {
  margin: 10px;
  background-color: rgb(186, 236, 255);
}
.header-font {
  color: rgb(0, 0, 0);
   &:hover {
    color: rgb(148, 148, 148);
  }
}
.home-content {
  color: rgb(227, 3, 50);
}

.nav-right {
  margin-left: 5px;
}

.right-content {
  margin-left: 5px;
}

.index-title {
  margin-top: 10px;
}

.main-table {
  margin-top: 10px;
}
